<% content_for(:page_header) do %>
  <%= "List of Iot Data" %>
<% end %>
<% content_for :panel_heading do %>Content<% end %>
<p id="notice"><%= notice %></p>

<!-- <h1>Listing Iot Data</h1> -->

<table id="iot" class="display table" cellspacing="0" width="90%">
  <thead>
    <tr>
      <th>Workbench number</th>
      <th>Part number</th>
      <th>Target</th>
      <th>Lot size</th>
      <th>Employee name</th>
      <th>Employee</th>
      <th>Shift</th>
      <th>Device</th>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @iot_data.each do |iot_datum| %>
      <tr>
        <td><%= iot_datum.workbench_number %></td>
        <td><%= iot_datum.part_number %></td>
        <td><%= iot_datum.target %></td>
        <td><%= iot_datum.lot_size %></td>
        <td><%= iot_datum.employee_name %></td>
        <td><%= iot_datum.employee_id %></td>
        <td><%= iot_datum.shift %></td>
        <td><%= iot_datum.device_id %></td>
        <td><%= iot_datum.count %></td>
        <!-- <td><%#= link_to 'Show', iot_datum %></td>
        <td><%#= link_to 'Edit', edit_iot_datum_path(iot_datum) %></td>
        <td><%#= link_to 'Destroy', iot_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        <td class="action-buttons">
          <%= link_to 'Show', iot_datum, class: 'btn btn-success' %>
          <%= link_to 'Edit', edit_iot_datum_path(iot_datum), class: 'btn btn-primary' %>
          <%= link_to 'Destroy', iot_datum, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Iot data', new_iot_datum_path %>

<% content_for(:extra_scripts) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#iot').DataTable({ responsive: true });
    });
  </script>
<% end %>
