<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= content_for?(:title) ? yield(:title) : "Intelligent Counting System" %>
  </title>
  <%#= image_tag 'tvslsl_logo4.jpg', class: "img-responsive center-block", :alt => "avatar" %>
  
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Intelligent Counting System" %>">

  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag 'application', "chartkick" %>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>

<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
  <%#= javascript_include_tag 'jquery.min', 'moment.min', 'Chart.min', 'chartkick' %>
  <%#= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <!-- <span>Current time: <%= @time %></span> -->
  <div id="wrapper" class="">
    <%= render 'layouts/navbar' %>
    <%#= render 'layouts/nav_links_for_auth' %>
  </div>

  <div id="page-wrapper">
    <%= render 'layouts/title' %>
    <%#= render 'layouts/boards' %>
    <%= render 'layouts/messages' %>

    <div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <%= content_for?(:panel_heading) ? yield(:panel_heading) : "Dashboard" %>
        </div>
        <div class="panel-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= content_for?(:extra_scripts) ? yield(:extra_scripts) : nil %>
</html>
